<%= simple_form_for(@pin, html: {class: "form-horizontal new_pin", :rel => color }) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :description, as: :text, input_html: {rows: "3", class: 'pin_description', autocomplete: 'off'} %>
  

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
