	<div class="aboutholder">
	<%= image_tag "aboutholder.png" %>
	</div>


<div class="row">
	<div class="span8">
		<%= render 'layouts/doll' %>
			<div class="dollinfo">
			<h1> Dollname Goeshere </h1>
			<h5> Cityhere :: Statehere </h5>
			<h6> tages can go here </h6>
			</div>
	</div>

	<div class="span4">
	<%= image_tag "pinbox.png" %>
	<%= link_to "new pin", new_pin_path %>
	</div>
</div>