<div class="row">
	<div class="span3">
		<div class="left-main"</div>
		<h1> left-main </h1>
	</div>
	</div>

	<div class="span6">
		<h1> Dolls </h1>
		<%= render 'layouts/doll' %>
	</div>

	<div class="span3">
		<h1>Pins</h1>
	</div>
</div>










<%= link_to" name of link" , "http://google.com" %>

<div id="something">
<%= link_to" name of link" , "www.google.com" %>
</div>